.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.overflow-auto {
  overflow: auto;
}

.color-theme {
  color: #e94f3d !important;
}

.margin-bottom-10 {

  margin-bottom: 10px;
}

.pad-15 {
  padding: 15px;
}

.pad-left-0 {
  padding-left: 0px !important;
}

.pad-right-0 {
  padding-right: 0px !important;
}

.box-shadow-none {
  box-shadow: none;
}
