<!-- <p>
  forget-password works!
  <button (click)="openModal()">click</button>
</p> -->
<div class="wrapper">
  <div class="login-form-container">
    <div class="login-form-wrapper">
      <form class="login-form" #PasswordForm="ngForm" (ngSubmit)="PasswordForm.valid && forgotSubmit()" novalidate>
        <h5 class="heading">FORGOT PASSWORD</h5>
        <div class="form-body">
          <div class="login-field">
            <input type="text" class="input-field-login" id="email" [(ngModel)]="PasswordData.email" #email="ngModel" (focus)="focusEmail()" (focusout)="focusOutEMail()" (ngModelChange)="detectChangeEmail($event)" name="email" required pattern="[a-zA-Z0-9\-\_\.\+]+@[a-zA-Z0-9\-\_\.]+\.[a-zA-Z0-9\-\_]+$" minlength="5">
            <label [ngClass]="{'normal-label': !labelActiveEmail, 'up-label': labelActiveEmail}" for="name">Email</label>
            <div *ngIf="email.errors && (email.dirty || email.touched || PasswordForm.submitted)">
              <p *ngIf="email.errors.required" class="error-msg">
                The email is required
              </p>
              <p *ngIf="email.errors.pattern" class="error-msg">
                The email is invalid
              </p>
            </div>
          </div>
          <div class="pad-tb-50 relative login-field">
            <input type="text" class="input-field-pass" id="phone" [(ngModel)]="PasswordData.phone" #phone="ngModel" (focus)="focusPhoneNo()" (focusout)="focusOutPhoneNo()" (ngModelChange)="detectChangePhone($event)" name="phone" minlength="10" pattern="^[1-9]{1}[0-9]{9}$" required>
            <label [ngClass]="{'normal-label top-77': !labelActivePhone, 'up-label-password': labelActivePhone}" for="name">Phone No.</label>
            <div *ngIf="phone.errors && (phone.dirty || phone.touched || PasswordForm.submitted)">
              <p *ngIf="phone.errors.required" class="error-msg">
                The phone No. is required
              </p>
              <p *ngIf="phone.errors.pattern" class="error-msg">
                The phone No. is invalid
              </p>
            </div>
          </div>
          <!-- <div class="other-login-info overflow-auto">
            <div class="checkbox checkbox-danger pull-left">
              <input id="checkbox6" type="checkbox" checked="" [checked]="saveUsername" (change)="saveUsername = !saveUsername">
              <label for="checkbox6">
                Remember Me
              </label>
            </div>
            <div class="pull-right margin-tb-10 forgot-pass" (click)="goToFP()">
              <span>Forgot Password?</span>
            </div>
          </div> -->
          <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Send One Time Password</button>
          <div class="text-center margin-tb-10 forgot-pass" (click)="goToLogin()">
            <span>Back To Login</span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
